@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap");

html,
body {
  font-family: "Public Sans", sans-serif;
  height: 100%;
  width: 100%;
}

mark {
  color: #35a22a;
  background-color: #e6f8e0;
  padding: 2px;
}

input[type="text"] {
  border-color: #fff;
}

button {
  margin: 1em;
}

.MainContainer {
  width: 95%;
}

#AdminContainer {
  width: 100%;
}

.ohana_logo {
  display: absolute;
  height: 50px;
}

#computer {
  height: 20vh;
}

#LoginPage {
  padding: 1em;
  height: 100%;
}

.shadow {
  box-shadow: 0 0 2rem #c8c8c8;
}

#leftPaneLogin {
  height: 100%;
  width: 300px;
  max-width: 350px;
  border: 2px solid #d5d5d5;
  border-radius: 15px;
}

#leftPaneNav {
  height: 100%;
  width: 300px;
  max-width: 350px;
  border: 2px solid #d5d5d5;
  border-radius: 15px;
}

#LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#leftPaneLogin {
  height: 85vh;
  width: 25vw;
  border: 1px solid gray;
  border-radius: 15px;
}

#navbar {
  background: #eeeeee;
  margin: 1em;
}

#adminpage {
  display: grid;
  grid-template-columns: auto auto auto;
}

#createteam {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #d5d5d5;
  padding: 1em;
  border-radius: 20px;
  min-height: 15vh;
  max-height: 20vh;
}

#createuser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d5d5d5;
  padding: 1em;
  border-radius: 20px;
}

#create-spaces {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #d5d5d5;
  padding: 1em;
  border-radius: 20px;
  min-height: 25vh;
  max-height: 30vh;
}

#create-clusters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d5d5d5;
  padding: 1em;
  border-radius: 20px;
  min-height: 30vh;
  max-height: 40vh;
}

#SpacesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 1em;
}

#get-spaces {
  align-self: flex-start;
}

#vClustersList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 1em;
}

#get-vclusters {
  align-self: flex-start;
}

a {
  text-decoration: none;
}
